body {
    height: 50vh;
    background: url(../img/moto.jpg) no-repeat;
    background-attachment: cover;
    background-size: cover;
    justify-content: center;
}

.slideshow {
    width: 400px;
    height: 480px;
    max-width: calc(100vw - 40px);
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: inset 1px 1px 2000px rgba(224, 224, 224, 0.952);
    margin: calc(50vh - 220px) auto;
    background: #aeaeaea2;
    font-family: 'Montserrat', sans-serif;

}

.topnav {
    overflow: hidden;
    position: relative;
    border-radius: 12px;
}

#myLinks {
    display: none;
    background: transparent;
    border-radius: 12px;
}

.hdos {
    height: 20px;
    color: #c44e00;
    padding: 0px 12px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 200;
    display: block;
}

a {
    color: rgba(209, 209, 209, 0.705);
    padding: 12px 12px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    border-radius: 19px;
    border: 2px solid #c90546;
    background: #c90546;
    margin: 10px 80px;
    transition-duration: 0.05s;
}
a:hover {
    color: rgba(255, 255, 255, 0.836);
    font-size: 17px;
    border-radius: 9px;
    background: #e9497e;
}

